In [77]:
import numpy as np
import pandas as pd

red = pd.read_csv('winequality/winequality-red.csv', sep=";")
white = pd.read_csv('winequality/winequality-white.csv', sep=";")

# concat two data sets
red['type'] = 'red'
white['type'] = 'white'

w = pd.concat([red, white], ignore_index=True)

In [78]:
display(w.head(10))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,red
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,red
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,red
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,red
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,red

In [79]:
display(w.tail(10))

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
6487,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5,white
6488,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6,white
6489,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6,white
6490,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6,white
6491,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5,white
6492,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [80]:
w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  type                  6497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [81]:
w.shape

(6497, 13)

In [82]:
display(w[w.isna().any(axis=1)])

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality, type]
Index: []

In [83]:
w.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [84]:
w['quality_label'] = w['quality'].apply(
    lambda value: 'low'
    if value <= 5 else 'medium'
    if value <= 7 else 'high'
)
w['quality_label'] = pd.Categorical(w['quality_label'], categories=['low', 'medium', 'high'])

In [86]:

red = w[w['type'] == 'red']
white = w[w['type'] == 'white']
display(red.describe().compare(white.describe()))

      fixed acidity              volatile acidity               citric acid  \
               self        other             self        other         self
count   1599.000000  4898.000000      1599.000000  4898.000000  1599.000000
mean       8.319637     6.854788         0.527821     0.278241     0.270976
std        1.741096     0.843868         0.179060     0.100795     0.194801
min        4.600000     3.800000         0.120000     0.080000          NaN
25%        7.100000     6.300000         0.390000     0.210000     0.090000
50%        7.900000     6.800000         0.520000     0.260000     0.260000
75%        9.200000     7.300000         0.640000     0.320000     0.420000
max       15.900000    14.200000         1.580000     1.100000     1.000000

                   residual sugar                 chlorides               ...  \
             other           self        other         self        other  ...
count  4898.000000    1599.000000  4898.000000  1599.000000  4898.000000  ...
mean      0.334192       2.538806     6.391415     0.087467     0.045772  ...
std       0.121020       1.409928     5.072058     0.047065     0.021848  ...
min            NaN       0.900000     0.600000     0.012000     0.009000  ...
25%       0.270000       1.900000     1.700000     0.070000     0.036000  ...
50%       0.320000       2.200000     5.200000     0.079000     0.043000  ...
75%       0.390000       2.600000     9.900000     0.090000     0.050000  ...
max       1.660000      15.500000    65.800000     0.611000     0.346000  ...

           density                        pH                 sulphates  \
              self        other         self        other         self
count  1599.000000  4898.000000  1599.000000  4898.000000  1599.000000
mean      0.996747     0.994027     3.311113     3.188267     0.658149
std       0.001887     0.002991     0.154386     0.151001     0.169507
min       0.990070     0.987110     2.740000     2.720000     0.330000
25%       0.995600     0.991723     3.210000     3.090000     0.550000
50%       0.996750     0.993740     3.310000     3.180000     0.620000
75%       0.997835     0.996100     3.400000     3.280000     0.730000
max       1.003690     1.038980     4.010000     3.820000     2.000000

                        alcohol                   quality
             other         self        other         self        other
count  4898.000000  1599.000000  4898.000000  1599.000000  4898.000000
mean      0.489847    10.422983    10.514267     5.636023     5.877909
std       0.114126     1.065668     1.230621     0.807569     0.885639
min       0.220000     8.400000     8.000000          NaN          NaN
25%       0.410000          NaN          NaN          NaN          NaN
50%       0.470000    10.200000    10.400000          NaN          NaN
75%       0.550000    11.100000    11.400000          NaN          NaN
max       1.080000    14.900000    14.200000     8.000000     9.000000

[8 rows x 24 columns]

In [85]:
# red whines are more acidic mean 8.3 > 6.9